@page
@model SecurITPW.Pages.Accesses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Access</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Access.IdPic" class="control-label"></label>
                <input asp-for="Access.IdPic" class="form-control" />
                <span asp-validation-for="Access.IdPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.IdUser" class="control-label"></label>
                <input asp-for="Access.IdUser" class="form-control" />
                <span asp-validation-for="Access.IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.Name" class="control-label"></label>
                <input asp-for="Access.Name" class="form-control" />
                <span asp-validation-for="Access.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.SurName" class="control-label"></label>
                <input asp-for="Access.SurName" class="form-control" />
                <span asp-validation-for="Access.SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.IdHouse" class="control-label"></label>
                <input asp-for="Access.IdHouse" class="form-control" />
                <span asp-validation-for="Access.IdHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.IdRoom" class="control-label"></label>
                <input asp-for="Access.IdRoom" class="form-control" />
                <span asp-validation-for="Access.IdRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access.Time" class="control-label"></label>
                <input asp-for="Access.Time" class="form-control" />
                <span asp-validation-for="Access.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
