@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to University</h1>
    <p>Benvenuti nel portale dell'Università per accedere alle stanze. Qui potrai gestire l'accesso alle stanze dell'università in modo semplice ed efficiente.</p>

    <p>Qui la pagina di <a asp-area="" asp-page="/Accesses/Index">Amministrazione</a></p>

    <p>Qui la pagina degli <a asp-area="" asp-page="/Users/Index">Utenti</a></p>

    <p>Qui la pagina delle <a asp-area="" asp-page="/Houses/Index">Stanze</a></p>

</div>

