@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Università degli studi di ITSAltoAdriatico</h1>
    <h4>Benvenuti nel portale dell'Università per accedere alle stanze</h4>
    <p></p>
    <p>Il nostro bellissimo campus</p>
    <p></p>
    <row>
        <img src="~/img/Building.jpg" alt="Campus" width="500" height="400"> <!-- aggiungo l'immagine alla schermata Home-->
    </row>

</div>

