@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<!-- Nella pagina nuova inserire solo quello che vadentro il RenderBody() della pagina _Layout.cshtml  -->